In [2]:
from income_shock_libraries_ps import *

In [3]:
x = get_phi_shock_sectors(flavor='nonag_wage')

In [4]:
x

                          fa  di
sector
ag                     0.017   1
construction           0.767   1
eduhealth              0.389   1
finance                0.079   1
food_entertainment     0.971   1
government             0.000   1
information            0.000   1
manufacturing          0.779   1
mining                 0.741   1
other                  0.983   1
professional_services  0.397   1
retail                 0.550   1
transportation         0.883   1
utilities              0.197   1
wholesale              0.738   1

In [5]:
y = get_phi_shock_sectors(flavor='entre')

In [6]:
y

                                               fa  di
sector
CSRP services                               0.913   1
Construction                                0.753   1
Crop Farming and Gardening                  0.006   1
Entrep. Activities NEC                      0.274   1
Fishing                                     0.000   1
Forestry and Hunting                        0.700   1
Livestock and Poultry Raising               0.001   1
Manufacturing                               0.697   1
Mining and Quarrying                        0.740   1
Transportation, Storage and Comm. Services  0.945   1
Wholesale and Retail                        0.256   1